<div class="menu">
    <ul class="list">
        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">widgets</i>
                <span>Quản trị hệ thống</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/AD/Right">
                        <span>Danh sách quyền</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/AD/Role">
                        <span>Danh sách role</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/AD/User">
                        <span>Người dùng</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/AD/UserGroup">
                        <span>Nhóm người dùng</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/WF/WorkFlow">
                        <span>Workflow</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/AD/Menu">
                        <span>Menu</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/AD/Message">
                        <span>Message</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/AD/Form">
                        <span>Form</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/AD/Language">
                        <span>Ngôn ngữ</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">swap_calls</i>
                <span>Danh mục</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/MD/Domain">
                        <span>Domain</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/MD/Dictionary">
                        <span> Dictionary</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">assignment</i>
                <span>Quản lý đơn hàng nội bộ</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="pages/forms/basic-form-elements.html">Đăng kí hàng</a>
                </li>
                <li>
                    <a href="pages/forms/advanced-form-elements.html">Phê duyệt đơn hàng</a>
                </li>
                <li>
                    <a href="pages/forms/form-examples.html">Gán phương tiện</a>
                </li>
                <li>
                    <a href="pages/forms/form-validation.html">Đơn hàng đang xử lý trên SAP</a>
                </li>
                <li>
                    <a href="pages/forms/form-wizard.html">Đơn hàng đã hoàn thiện</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
