<div class="diff-color d-inline-flex m-r-20">
    <style>
        .diff-color {
            position: relative;
            bottom: 3px;
        }
        .h-25 {
            height: 25px;
        }

        .w-75 {
            width: 75px;
        }

        .d-inline-flex {
            display: inline-flex;
        }

        .p-5 {
            padding: 5px;
        }

        .float-left {
            float: left;
        }

        .description {
            position: relative;
            top: 5px;
        }
    </style>
    <div class="description-color p-5">
        <div class="color bg-add h-25 w-75 float-left">
        </div>
        <span class="m-l-10 description">Thêm mới</span>
    </div>
    <div class="description-color p-5">
        <div class="color bg-change h-25 w-75 float-left">
        </div>
        <span class="m-l-10 description">Thay đổi</span>
    </div>
</div>
