USE [BPS_DEV]
GO
/****** Object:  Table [dbo].[T_BP_COST_CF]    Script Date: 10/17/2019 2:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_COST_CF](
	[PKID] [nvarchar](50) NOT NULL,
	[ORG_CODE] [nvarchar](20) NOT NULL,
	[TEMPLATE_CODE] [nvarchar](50) NOT NULL,
	[TIME_YEAR] [int] NOT NULL,
	[VERSION] [int] NOT NULL,
	[STATUS] [nvarchar](2) NOT NULL,
	[FILE_ID] [nvarchar](50) NOT NULL,
	[IS_SUMUP] [char](1) NOT NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_COST_CF] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_COST_CF_DATA]    Script Date: 10/17/2019 2:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_COST_CF_DATA](
	[PKID] [nvarchar](50) NOT NULL,
	[ORG_CODE] [nvarchar](20) NOT NULL,
	[COST_CENTER_CODE] [nvarchar](20) NOT NULL,
	[TEMPLATE_CODE] [nvarchar](50) NOT NULL,
	[COST_CF_ELEMENT_CODE] [nvarchar](20) NOT NULL,
	[VERSION] [int] NOT NULL,
	[TIME_YEAR] [int] NOT NULL,
	[VALUE_JAN] [decimal](18, 0) NULL,
	[VALUE_FEB] [decimal](18, 0) NULL,
	[VALUE_MAR] [decimal](18, 0) NULL,
	[VALUE_APR] [decimal](18, 0) NULL,
	[VALUE_MAY] [decimal](18, 0) NULL,
	[VALUE_JUN] [decimal](18, 0) NULL,
	[VALUE_JUL] [decimal](18, 0) NULL,
	[VALUE_AUG] [decimal](18, 0) NULL,
	[VALUE_SEP] [decimal](18, 0) NULL,
	[VALUE_OCT] [decimal](18, 0) NULL,
	[VALUE_NOV] [decimal](18, 0) NULL,
	[VALUE_DEC] [decimal](18, 0) NULL,
	[STATUS] [nvarchar](2) NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_COST_CF_DATA] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_COST_CF_DATA_HISTORY]    Script Date: 10/17/2019 2:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_COST_CF_DATA_HISTORY](
	[PKID] [nvarchar](50) NOT NULL,
	[ORG_CODE] [nvarchar](20) NOT NULL,
	[COST_CENTER_CODE] [nvarchar](20) NOT NULL,
	[TEMPLATE_CODE] [nvarchar](50) NOT NULL,
	[COST_CF_ELEMENT_CODE] [nvarchar](20) NOT NULL,
	[VERSION] [int] NOT NULL,
	[TIME_YEAR] [int] NOT NULL,
	[VALUE_JAN] [decimal](18, 0) NULL,
	[VALUE_FEB] [decimal](18, 0) NULL,
	[VALUE_MAR] [decimal](18, 0) NULL,
	[VALUE_APR] [decimal](18, 0) NULL,
	[VALUE_MAY] [decimal](18, 0) NULL,
	[VALUE_JUN] [decimal](18, 0) NULL,
	[VALUE_JUL] [decimal](18, 0) NULL,
	[VALUE_AUG] [decimal](18, 0) NULL,
	[VALUE_SEP] [decimal](18, 0) NULL,
	[VALUE_OCT] [decimal](18, 0) NULL,
	[VALUE_NOV] [decimal](18, 0) NULL,
	[VALUE_DEC] [decimal](18, 0) NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_COST_CF_DATA_HISTORY] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_COST_CF_HISTORY]    Script Date: 10/17/2019 2:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_COST_CF_HISTORY](
	[PKID] [nvarchar](50) NOT NULL,
	[ORG_CODE] [nvarchar](20) NOT NULL,
	[TEMPLATE_CODE] [nvarchar](50) NOT NULL,
	[VERSION] [int] NOT NULL,
	[TIME_YEAR] [int] NOT NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[ACTION] [nvarchar](2) NOT NULL,
	[ACTION_USER] [nvarchar](50) NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_T_BP_COST_CF_HISTORY] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_COST_CF_SENT]    Script Date: 10/17/2019 2:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_COST_CF_SENT](
	[PKID] [nvarchar](50) NOT NULL,
	[CHILD_ORG_CODE] [nvarchar](20) NULL,
	[PARENT_ORG_CODE] [nvarchar](20) NULL,
	[TIME_YEAR] [int] NULL,
	[SENT_VERSION] [int] NULL,
	[STATUS] [nvarchar](2) NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_COST_CF_SENT] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_COST_CF_SENT_DETAIL]    Script Date: 10/17/2019 2:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_COST_CF_SENT_DETAIL](
	[PKID] [nvarchar](50) NOT NULL,
	[CHILD_ORG_CODE] [nvarchar](20) NOT NULL,
	[PARENT_ORG_CODE] [nvarchar](20) NOT NULL,
	[TIME_YEAR] [int] NOT NULL,
	[SENT_VERSION] [int] NOT NULL,
	[TEMPLATE_CODE] [nvarchar](20) NULL,
	[DATA_VERSION] [int] NOT NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_COST_CF_SENT_DETAIL] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_COST_CF_SENT_HISTORY]    Script Date: 10/17/2019 2:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_COST_CF_SENT_HISTORY](
	[PKID] [nvarchar](50) NOT NULL,
	[ORG_CODE] [nvarchar](20) NULL,
	[PARENT_ORG_CODE] [nvarchar](20) NULL,
	[TIME_YEAR] [int] NULL,
	[VERSION] [int] NULL,
	[ACTION] [nvarchar](2) NULL,
	[ACTION_USER] [nvarchar](50) NULL,
	[ACTION_DATE] [datetime] NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_COST_CF_SENT_HISTORY] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_COST_CF_SUM_UP_DETAIL]    Script Date: 10/17/2019 2:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_COST_CF_SUM_UP_DETAIL](
	[PKID] [nvarchar](50) NOT NULL,
	[PARENT_ORG_CODE] [nvarchar](20) NOT NULL,
	[CHILD_ORG_CODE] [nvarchar](20) NOT NULL,
	[TIME_YEAR] [int] NOT NULL,
	[SUMUP_VERSION] [int] NOT NULL,
	[SENT_VERSION] [int] NOT NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_COST_CF_SUM_UP_DETAIL] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_COST_CF_VERSION]    Script Date: 10/17/2019 2:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_COST_CF_VERSION](
	[PKID] [nvarchar](50) NOT NULL,
	[ORG_CODE] [nvarchar](20) NOT NULL,
	[TEMPLATE_CODE] [nvarchar](50) NOT NULL,
	[VERSION] [int] NOT NULL,
	[TIME_YEAR] [int] NOT NULL,
	[FILE_ID] [nvarchar](50) NOT NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_COST_CF_VERSION] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_COST_PL]    Script Date: 10/17/2019 2:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_COST_PL](
	[PKID] [nvarchar](50) NOT NULL,
	[ORG_CODE] [nvarchar](20) NOT NULL,
	[TEMPLATE_CODE] [nvarchar](50) NOT NULL,
	[TIME_YEAR] [int] NOT NULL,
	[VERSION] [int] NOT NULL,
	[STATUS] [nvarchar](2) NOT NULL,
	[FILE_ID] [nvarchar](50) NOT NULL,
	[IS_SUMUP] [char](1) NOT NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_COST_PL] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_COST_PL_DATA]    Script Date: 10/17/2019 2:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_COST_PL_DATA](
	[PKID] [nvarchar](50) NOT NULL,
	[ORG_CODE] [nvarchar](20) NOT NULL,
	[COST_CENTER_CODE] [nvarchar](20) NOT NULL,
	[TEMPLATE_CODE] [nvarchar](50) NOT NULL,
	[COST_PL_ELEMENT_CODE] [nvarchar](20) NOT NULL,
	[VERSION] [int] NOT NULL,
	[TIME_YEAR] [int] NOT NULL,
	[VALUE_JAN] [decimal](18, 0) NULL,
	[VALUE_FEB] [decimal](18, 0) NULL,
	[VALUE_MAR] [decimal](18, 0) NULL,
	[VALUE_APR] [decimal](18, 0) NULL,
	[VALUE_MAY] [decimal](18, 0) NULL,
	[VALUE_JUN] [decimal](18, 0) NULL,
	[VALUE_JUL] [decimal](18, 0) NULL,
	[VALUE_AUG] [decimal](18, 0) NULL,
	[VALUE_SEP] [decimal](18, 0) NULL,
	[VALUE_OCT] [decimal](18, 0) NULL,
	[VALUE_NOV] [decimal](18, 0) NULL,
	[VALUE_DEC] [decimal](18, 0) NULL,
	[STATUS] [nvarchar](2) NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_COST_DATA] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_COST_PL_DATA_HISTORY]    Script Date: 10/17/2019 2:57:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_COST_PL_DATA_HISTORY](
	[PKID] [nvarchar](50) NOT NULL,
	[ORG_CODE] [nvarchar](20) NOT NULL,
	[COST_CENTER_CODE] [nvarchar](20) NOT NULL,
	[TEMPLATE_CODE] [nvarchar](50) NOT NULL,
	[COST_PL_ELEMENT_CODE] [nvarchar](20) NOT NULL,
	[VERSION] [int] NOT NULL,
	[TIME_YEAR] [int] NOT NULL,
	[VALUE_JAN] [decimal](18, 0) NULL,
	[VALUE_FEB] [decimal](18, 0) NULL,
	[VALUE_MAR] [decimal](18, 0) NULL,
	[VALUE_APR] [decimal](18, 0) NULL,
	[VALUE_MAY] [decimal](18, 0) NULL,
	[VALUE_JUN] [decimal](18, 0) NULL,
	[VALUE_JUL] [decimal](18, 0) NULL,
	[VALUE_AUG] [decimal](18, 0) NULL,
	[VALUE_SEP] [decimal](18, 0) NULL,
	[VALUE_OCT] [decimal](18, 0) NULL,
	[VALUE_NOV] [decimal](18, 0) NULL,
	[VALUE_DEC] [decimal](18, 0) NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_COST_DATA_HISTORY] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_COST_PL_HISTORY]    Script Date: 10/17/2019 2:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_COST_PL_HISTORY](
	[PKID] [nvarchar](50) NOT NULL,
	[ORG_CODE] [nvarchar](20) NOT NULL,
	[TEMPLATE_CODE] [nvarchar](50) NOT NULL,
	[VERSION] [int] NOT NULL,
	[TIME_YEAR] [int] NOT NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[ACTION] [nvarchar](2) NOT NULL,
	[ACTION_USER] [nvarchar](50) NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_T_BP_COST_PL_HISTORY] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_COST_PL_SENT]    Script Date: 10/17/2019 2:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_COST_PL_SENT](
	[PKID] [nvarchar](50) NOT NULL,
	[CHILD_ORG_CODE] [nvarchar](20) NULL,
	[PARENT_ORG_CODE] [nvarchar](20) NULL,
	[TIME_YEAR] [int] NULL,
	[SENT_VERSION] [int] NULL,
	[STATUS] [nvarchar](2) NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_COST_PL_SENT] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_COST_PL_SENT_DETAIL]    Script Date: 10/17/2019 2:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_COST_PL_SENT_DETAIL](
	[PKID] [nvarchar](50) NOT NULL,
	[CHILD_ORG_CODE] [nvarchar](20) NOT NULL,
	[PARENT_ORG_CODE] [nvarchar](20) NOT NULL,
	[TIME_YEAR] [int] NOT NULL,
	[SENT_VERSION] [int] NOT NULL,
	[TEMPLATE_CODE] [nvarchar](20) NULL,
	[DATA_VERSION] [int] NOT NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_COST_PL_SENT_DETAIL] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_COST_PL_SENT_HISTORY]    Script Date: 10/17/2019 2:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_COST_PL_SENT_HISTORY](
	[PKID] [nvarchar](50) NOT NULL,
	[ORG_CODE] [nvarchar](20) NULL,
	[PARENT_ORG_CODE] [nvarchar](20) NULL,
	[TIME_YEAR] [int] NULL,
	[VERSION] [int] NULL,
	[ACTION] [nvarchar](2) NULL,
	[ACTION_USER] [nvarchar](50) NULL,
	[ACTION_DATE] [datetime] NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_COST_PL_SENT_HISTORY] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_COST_PL_SUM_UP_DETAIL]    Script Date: 10/17/2019 2:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_COST_PL_SUM_UP_DETAIL](
	[PKID] [nvarchar](50) NOT NULL,
	[PARENT_ORG_CODE] [nvarchar](20) NOT NULL,
	[CHILD_ORG_CODE] [nvarchar](20) NOT NULL,
	[TIME_YEAR] [int] NOT NULL,
	[SUMUP_VERSION] [int] NOT NULL,
	[SENT_VERSION] [int] NOT NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_COST_PL_SUM_UP_DETAIL] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_COST_PL_VERSION]    Script Date: 10/17/2019 2:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_COST_PL_VERSION](
	[PKID] [nvarchar](50) NOT NULL,
	[ORG_CODE] [nvarchar](20) NOT NULL,
	[TEMPLATE_CODE] [nvarchar](50) NOT NULL,
	[VERSION] [int] NOT NULL,
	[TIME_YEAR] [int] NOT NULL,
	[FILE_ID] [nvarchar](50) NOT NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_COST_PL_VERSION] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_REVENUE_CF]    Script Date: 10/17/2019 2:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_REVENUE_CF](
	[PKID] [nvarchar](50) NOT NULL,
	[ORG_CODE] [nvarchar](20) NOT NULL,
	[TEMPLATE_CODE] [nvarchar](50) NOT NULL,
	[TIME_YEAR] [int] NOT NULL,
	[VERSION] [int] NOT NULL,
	[STATUS] [nvarchar](2) NOT NULL,
	[FILE_ID] [nvarchar](50) NOT NULL,
	[IS_SUMUP] [char](1) NOT NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_REVENUE_CF] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_REVENUE_CF_DATA]    Script Date: 10/17/2019 2:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_REVENUE_CF_DATA](
	[PKID] [nvarchar](50) NOT NULL,
	[ORG_CODE] [nvarchar](20) NOT NULL,
	[REVENUE_CENTER_CODE] [nvarchar](20) NOT NULL,
	[TEMPLATE_CODE] [nvarchar](50) NOT NULL,
	[REVENUE_CF_ELEMENT_CODE] [nvarchar](20) NOT NULL,
	[VERSION] [int] NOT NULL,
	[TIME_YEAR] [int] NOT NULL,
	[VALUE_JAN] [decimal](18, 0) NULL,
	[VALUE_FEB] [decimal](18, 0) NULL,
	[VALUE_MAR] [decimal](18, 0) NULL,
	[VALUE_APR] [decimal](18, 0) NULL,
	[VALUE_MAY] [decimal](18, 0) NULL,
	[VALUE_JUN] [decimal](18, 0) NULL,
	[VALUE_JUL] [decimal](18, 0) NULL,
	[VALUE_AUG] [decimal](18, 0) NULL,
	[VALUE_SEP] [decimal](18, 0) NULL,
	[VALUE_OCT] [decimal](18, 0) NULL,
	[VALUE_NOV] [decimal](18, 0) NULL,
	[VALUE_DEC] [decimal](18, 0) NULL,
	[STATUS] [nvarchar](2) NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_REVENUE_CF_DATA] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_REVENUE_CF_DATA_HISTORY]    Script Date: 10/17/2019 2:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_REVENUE_CF_DATA_HISTORY](
	[PKID] [nvarchar](50) NOT NULL,
	[ORG_CODE] [nvarchar](20) NOT NULL,
	[REVENUE_CENTER_CODE] [nvarchar](20) NOT NULL,
	[TEMPLATE_CODE] [nvarchar](50) NOT NULL,
	[REVENUE_CF_ELEMENT_CODE] [nvarchar](20) NOT NULL,
	[VERSION] [int] NOT NULL,
	[TIME_YEAR] [int] NOT NULL,
	[VALUE_JAN] [decimal](18, 0) NULL,
	[VALUE_FEB] [decimal](18, 0) NULL,
	[VALUE_MAR] [decimal](18, 0) NULL,
	[VALUE_APR] [decimal](18, 0) NULL,
	[VALUE_MAY] [decimal](18, 0) NULL,
	[VALUE_JUN] [decimal](18, 0) NULL,
	[VALUE_JUL] [decimal](18, 0) NULL,
	[VALUE_AUG] [decimal](18, 0) NULL,
	[VALUE_SEP] [decimal](18, 0) NULL,
	[VALUE_OCT] [decimal](18, 0) NULL,
	[VALUE_NOV] [decimal](18, 0) NULL,
	[VALUE_DEC] [decimal](18, 0) NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_REVENUE_CF_DATA_HISTORY] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_REVENUE_CF_HISTORY]    Script Date: 10/17/2019 2:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_REVENUE_CF_HISTORY](
	[PKID] [nvarchar](50) NOT NULL,
	[ORG_CODE] [nvarchar](20) NOT NULL,
	[TEMPLATE_CODE] [nvarchar](50) NOT NULL,
	[VERSION] [int] NOT NULL,
	[TIME_YEAR] [int] NOT NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[ACTION] [nvarchar](2) NOT NULL,
	[ACTION_USER] [nvarchar](50) NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_T_BP_REVENUE_CF_HISTORY] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_REVENUE_CF_SENT]    Script Date: 10/17/2019 2:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_REVENUE_CF_SENT](
	[PKID] [nvarchar](50) NOT NULL,
	[CHILD_ORG_CODE] [nvarchar](20) NULL,
	[PARENT_ORG_CODE] [nvarchar](20) NULL,
	[TIME_YEAR] [int] NULL,
	[SENT_VERSION] [int] NULL,
	[STATUS] [nvarchar](2) NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_REVENUE_CF_SENT] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_REVENUE_CF_SENT_DETAIL]    Script Date: 10/17/2019 2:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_REVENUE_CF_SENT_DETAIL](
	[PKID] [nvarchar](50) NOT NULL,
	[CHILD_ORG_CODE] [nvarchar](20) NOT NULL,
	[PARENT_ORG_CODE] [nvarchar](20) NOT NULL,
	[TIME_YEAR] [int] NOT NULL,
	[SENT_VERSION] [int] NOT NULL,
	[TEMPLATE_CODE] [nvarchar](20) NULL,
	[DATA_VERSION] [int] NOT NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_REVENUE_CF_SENT_DETAIL] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_REVENUE_CF_SENT_HISTORY]    Script Date: 10/17/2019 2:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_REVENUE_CF_SENT_HISTORY](
	[PKID] [nvarchar](50) NOT NULL,
	[ORG_CODE] [nvarchar](20) NULL,
	[PARENT_ORG_CODE] [nvarchar](20) NULL,
	[TIME_YEAR] [int] NULL,
	[VERSION] [int] NULL,
	[ACTION] [nvarchar](2) NULL,
	[ACTION_USER] [nvarchar](50) NULL,
	[ACTION_DATE] [datetime] NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_REVENUE_CF_SENT_HISTORY] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_REVENUE_CF_SUM_UP_DETAIL]    Script Date: 10/17/2019 2:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_REVENUE_CF_SUM_UP_DETAIL](
	[PKID] [nvarchar](50) NOT NULL,
	[PARENT_ORG_CODE] [nvarchar](20) NOT NULL,
	[CHILD_ORG_CODE] [nvarchar](20) NOT NULL,
	[TIME_YEAR] [int] NOT NULL,
	[SUMUP_VERSION] [int] NOT NULL,
	[SENT_VERSION] [int] NOT NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_REVENUE_CF_SUM_UP_DETAIL] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_REVENUE_CF_VERSION]    Script Date: 10/17/2019 2:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_REVENUE_CF_VERSION](
	[PKID] [nvarchar](50) NOT NULL,
	[ORG_CODE] [nvarchar](20) NOT NULL,
	[TEMPLATE_CODE] [nvarchar](50) NOT NULL,
	[VERSION] [int] NOT NULL,
	[TIME_YEAR] [int] NOT NULL,
	[FILE_ID] [nvarchar](50) NOT NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_REVENUE_CF_VERSION] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_REVENUE_PL]    Script Date: 10/17/2019 2:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_REVENUE_PL](
	[PKID] [nvarchar](50) NOT NULL,
	[ORG_CODE] [nvarchar](20) NOT NULL,
	[TEMPLATE_CODE] [nvarchar](50) NOT NULL,
	[TIME_YEAR] [int] NOT NULL,
	[VERSION] [int] NOT NULL,
	[STATUS] [nvarchar](2) NOT NULL,
	[FILE_ID] [nvarchar](50) NOT NULL,
	[IS_SUMUP] [char](1) NOT NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_REVENUE_PL] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_REVENUE_PL_DATA]    Script Date: 10/17/2019 2:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_REVENUE_PL_DATA](
	[PKID] [nvarchar](50) NOT NULL,
	[ORG_CODE] [nvarchar](20) NOT NULL,
	[PROFIT_CENTER_CODE] [nvarchar](20) NOT NULL,
	[TEMPLATE_CODE] [nvarchar](50) NOT NULL,
	[REVENUE_PL_ELEMENT_CODE] [nvarchar](20) NOT NULL,
	[VERSION] [int] NOT NULL,
	[TIME_YEAR] [int] NOT NULL,
	[VALUE_JAN] [decimal](18, 0) NULL,
	[VALUE_FEB] [decimal](18, 0) NULL,
	[VALUE_MAR] [decimal](18, 0) NULL,
	[VALUE_APR] [decimal](18, 0) NULL,
	[VALUE_MAY] [decimal](18, 0) NULL,
	[VALUE_JUN] [decimal](18, 0) NULL,
	[VALUE_JUL] [decimal](18, 0) NULL,
	[VALUE_AUG] [decimal](18, 0) NULL,
	[VALUE_SEP] [decimal](18, 0) NULL,
	[VALUE_OCT] [decimal](18, 0) NULL,
	[VALUE_NOV] [decimal](18, 0) NULL,
	[VALUE_DEC] [decimal](18, 0) NULL,
	[STATUS] [nvarchar](2) NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_REVENUE_PL_DATA] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_REVENUE_PL_DATA_HISTORY]    Script Date: 10/17/2019 2:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_REVENUE_PL_DATA_HISTORY](
	[PKID] [nvarchar](50) NOT NULL,
	[ORG_CODE] [nvarchar](20) NOT NULL,
	[PROFIT_CENTER_CODE] [nvarchar](20) NOT NULL,
	[TEMPLATE_CODE] [nvarchar](50) NOT NULL,
	[REVENUE_PL_ELEMENT_CODE] [nvarchar](20) NOT NULL,
	[VERSION] [int] NOT NULL,
	[TIME_YEAR] [int] NOT NULL,
	[VALUE_JAN] [decimal](18, 0) NULL,
	[VALUE_FEB] [decimal](18, 0) NULL,
	[VALUE_MAR] [decimal](18, 0) NULL,
	[VALUE_APR] [decimal](18, 0) NULL,
	[VALUE_MAY] [decimal](18, 0) NULL,
	[VALUE_JUN] [decimal](18, 0) NULL,
	[VALUE_JUL] [decimal](18, 0) NULL,
	[VALUE_AUG] [decimal](18, 0) NULL,
	[VALUE_SEP] [decimal](18, 0) NULL,
	[VALUE_OCT] [decimal](18, 0) NULL,
	[VALUE_NOV] [decimal](18, 0) NULL,
	[VALUE_DEC] [decimal](18, 0) NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_REVENUE_PL_DATA_HISTORY] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_REVENUE_PL_HISTORY]    Script Date: 10/17/2019 2:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_REVENUE_PL_HISTORY](
	[PKID] [nvarchar](50) NOT NULL,
	[ORG_CODE] [nvarchar](20) NOT NULL,
	[TEMPLATE_CODE] [nvarchar](50) NOT NULL,
	[VERSION] [int] NOT NULL,
	[TIME_YEAR] [int] NOT NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[ACTION] [nvarchar](2) NOT NULL,
	[ACTION_USER] [nvarchar](50) NOT NULL,
	[ACTION_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_T_BP_REVENUE_PL_HISTORY] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_REVENUE_PL_SENT]    Script Date: 10/17/2019 2:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_REVENUE_PL_SENT](
	[PKID] [nvarchar](50) NOT NULL,
	[CHILD_ORG_CODE] [nvarchar](20) NULL,
	[PARENT_ORG_CODE] [nvarchar](20) NULL,
	[TIME_YEAR] [int] NULL,
	[SENT_VERSION] [int] NULL,
	[STATUS] [nvarchar](2) NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_REVENUE_PL_SENT] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_REVENUE_PL_SENT_DETAIL]    Script Date: 10/17/2019 2:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_REVENUE_PL_SENT_DETAIL](
	[PKID] [nvarchar](50) NOT NULL,
	[CHILD_ORG_CODE] [nvarchar](20) NOT NULL,
	[PARENT_ORG_CODE] [nvarchar](20) NOT NULL,
	[TIME_YEAR] [int] NOT NULL,
	[SENT_VERSION] [int] NOT NULL,
	[TEMPLATE_CODE] [nvarchar](20) NULL,
	[DATA_VERSION] [int] NOT NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_REVENUE_PL_SENT_DETAIL] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_REVENUE_PL_SENT_HISTORY]    Script Date: 10/17/2019 2:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_REVENUE_PL_SENT_HISTORY](
	[PKID] [nvarchar](50) NOT NULL,
	[ORG_CODE] [nvarchar](20) NULL,
	[PARENT_ORG_CODE] [nvarchar](20) NULL,
	[TIME_YEAR] [int] NULL,
	[VERSION] [int] NULL,
	[ACTION] [nvarchar](2) NULL,
	[ACTION_USER] [nvarchar](50) NULL,
	[ACTION_DATE] [datetime] NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_REVENUE_PL_SENT_HISTORY] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_REVENUE_PL_SUM_UP_DETAIL]    Script Date: 10/17/2019 2:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_REVENUE_PL_SUM_UP_DETAIL](
	[PKID] [nvarchar](50) NOT NULL,
	[PARENT_ORG_CODE] [nvarchar](20) NOT NULL,
	[CHILD_ORG_CODE] [nvarchar](20) NOT NULL,
	[TIME_YEAR] [int] NOT NULL,
	[SUMUP_VERSION] [int] NOT NULL,
	[SENT_VERSION] [int] NOT NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_REVENUE_PL_SUM_UP_DETAIL] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_BP_REVENUE_PL_VERSION]    Script Date: 10/17/2019 2:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BP_REVENUE_PL_VERSION](
	[PKID] [nvarchar](50) NOT NULL,
	[ORG_CODE] [nvarchar](20) NOT NULL,
	[TEMPLATE_CODE] [nvarchar](50) NOT NULL,
	[VERSION] [int] NOT NULL,
	[TIME_YEAR] [int] NOT NULL,
	[FILE_ID] [nvarchar](50) NOT NULL,
	[CREATE_BY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_BY] [nvarchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_BP_REVENUE_PL_VERSION] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
