@{
    Layout = "~/Views/Shared/_Layout_Portal.cshtml";
}

@{
    var lang = "vi";
    if (Request.Cookies["lang"] != null)
    {
        lang = Request.Cookies["lang"].Value;
    }

    if (lang != "vi" && lang != "en")
    {
        lang = "vi";
    }
}

<div class="top_heading  _out">
    <div class="top_site_main " style="color: rgb(255, 255, 255); background-image: url('/Content/Images/gioi-thieu-fecon.jpg'); padding-top: 140px;">
        <span class="overlay-top-header" style="background:rgba(0,0,0,0.5);"></span>
    </div>
    <div class="breadcrumbs-wrapper">
        <div class="container">
            @if (lang == "vi")
            {
                <ul itemprop="breadcrumb" itemscope="" id="breadcrumbs" class="breadcrumbs">
                    <li itemprop="itemListElement"><a href="https://fecon.com.vn"><span>TRANG CHỦ</span></a></li>
                    <li itemprop="itemListElement"><span>CHÍNH SÁCH BẢO MẬT THÔNG TIN</span></li>
                </ul>
            }
            else
            {
                <ul itemprop="breadcrumb" itemscope="" id="breadcrumbs" class="breadcrumbs">
                    <li itemprop="itemListElement"><a href="https://fecon.com.vn"><span>HOME</span></a></li>
                    <li itemprop="itemListElement"><span>PRIVACY</span></li>
                </ul>
            }
        </div>
    </div>
</div>
<div class="container site-content sidebar-right" style="transform: none;">
    <div class="text-center">
        <h4>CHÍNH SÁCH BẢO MẬT THÔNG TIN</h4>
    </div>

    <p>
        <p><b>Điều 1. Phạm vi thu thập thông tin </b></p>
        <p>Những loại thông tin mà chúng tôi thu thập bao gồm: </p>
        <p><i>- Những thông tin bạn tạo và/hoặc cung cấp cho chúng tôi </i></p>
        <p>Khi tạo một Tài khoản trên trang FECON E-BIDDING (sau đây gọi là “Website”), bạn cung cấp cho chúng tôi các thông tin chính sau: </p>
        <p>* Tên Công ty, mã số thuế, loại hình doanh nghiệp, quốc gia, tên người đại diện, số lượng nhân viên, vốn điều lệ, địa chỉ, lĩnh vực hoạt động, địa chỉ trang web, địa chỉ email, số điện thoại. </p>
        <p>
            Tài khoản và mật khẩu của bạn sẽ được Chúng tôi cung cấp thông qua việc thông báo vào mail mà bạn đã cung cấp. Sau khi đăng nhập tài khoản thành công, bạn cung cấp cho Chúng tôi thêm các thông tin, hình ảnh, file/tài liệu sau: 
        </p>
        <p>* Logo Công ty, Thông tin liên lạc, Thị trường kinh doanh, Trụ sở văn phòng, Dự án đã tham gia, Thông tin tài chính và hàng hóa dịch vụ đang cung cấp.  </p>
        <p>
            Để tránh hiểu sai, những thông tin chúng tôi thu thập bao gồm cả những thông tin, hình ảnh, file/tài liệu mà bạn cung cấp khi đăng ký tài khoản và cả những thông tin, hình ảnh, file/tài liệu mà bạn cập nhật, sửa đổi, bổ sung trong quá trình hoạt động.  
        </p>
        <p>
            <i>- Những thông tin chúng tôi thu thập trong quá trình bạn đăng nhập/hoạt động trên Website </i>
        </p>
        <p>
            Trong quá trình bạn đăng nhập/sử dụng các dịch vụ/tiện ích trên Website, chúng tôi cũng có thể thu thập những thông tin mà bạn điền, tạo, tải lên hoặc nhận được từ những người khác, bao gồm nhưng không giới hạn như: 
        </p>
        <p>* Các cụm từ mà bạn tìm kiếm; </p>
        <p>* Các nội dung mà bạn xem; </p>
        <p>* Những người mà bạn liên lạc hoặc chia sẻ nội dung; </p>
        <p>* Thông tin xác nhận tham gia gói thầu; </p>
        <p>* Thông tin, nội dung, câu hỏi, câu trả lời, các tệp, file đính kèm mà bạn tải lên/trao đổi với Fecon; </p>
        <p>* Thông tin chào thầu; </p>
        <p>* Hồ sơ thầu dưới dạng thông tin hoặc file đính kèm; </p>
        <p>Ngoài ra, Chúng tôi cũng thu thập những thông tin mà bạn tạo, tải lên hoặc nhận được từ những người khác khi bạn hoạt động trên Website. </p>
        <p><i>- Những thông tin mà chúng tôi lưu trữ cùng với Tài khoản của bạn. </i></p>
    </p>

    <p>
        <p><b>Điều 2: Mục đích thu thập thông tin   </b></p>
        <p>Thông tin Chúng tôi thu thập được từ bạn, được sử dụng nhằm các mục đích sau: </p>
        <p>* Đánh giá, chấm thầu và lựa chọn nhà thầu phù hợp; </p>
        <p>* Gửi cho bạn/công ty/nhà thầu những thông tin cần thiết về các gói thầu và các thông tin liên quan; </p>
        <p>* Thông báo, liên lạc, trao đổi với bạn/công ty/nhà thầu; </p>
        <p>* Cung cấp, duy trì, cải thiện, phát triển các nội dung mới cần thiết, hữu ích trên Website của Chúng tôi, để phục vụ tốt hơn, thuận tiện hơn cho bạn cũng như những cá nhân/tổ chức khác, ví dụ như xử lý những cụm từ bạn tìm kiếm để trả về kết quả chính xác hơn, khắc phục các sự cố mà bạn báo cáo cho Chúng tôi; </p>
        <p>* Ngăn ngừa các hoạt động phá hủy hoặc giả mạo tài khoản của bạn/công ty/nhà thầu; </p>
        <p>* Cung cấp thông tin theo quy định pháp luật hoặc theo yêu cầu của cơ quan nhà nước có thẩm quyền; </p>
        <p>* Mục đích khác nếu được sự đồng ý của bạn. </p>
    </p>

    <p>
        <p><b>Điều 3: Chia sẻ thông tin với bên thứ ba </b></p>
        <p>Chúng tôi không chia sẻ thông tin thu thập được với các cá nhân, công ty, tổ chức bên ngoài Fecon và các đơn vị thành viên, trừ các trường hợp sau đây: </p>
        <p>* Có sự đồng ý của bạn; </p>
        <p>* Theo yêu cầu của cơ quan nhà nước có thẩm quyền; </p>
        <p>* Theo quy định pháp luật. </p>
    </p>

    <p>
        <p><b>Điều 4: Lưu trữ và Bảo vệ thông tin  </b></p>
        <p>
            Hầu hết các thông tin được thu thập sẽ được lưu trữ tại cơ sở dữ liệu của chúng tôi. Máy chủ lưu trữ được đặt tại Việt NamThời gian lưu trữ dữ liệu cá nhân tuân theo các quy định của pháp luật về bảo vệ bí mật thông tin cá nhân và/hoặc các điều luật hiện hành khác. Có nghĩa là, chúng tôi sẽ hủy hoặc xóa thông tin nhận dạng ra khỏi dữ liệu cá nhân của bạn khi chúng tôi có lý do hợp lý để xác định rằng (i) việc lưu giữ dữ liệu cá nhân đó không còn phục vụ mục đích thu thập dữ liệu cá nhân đó nữa; (ii) việc lưu giữ không còn cần thiết cho bất kỳ mục đích hợp pháp hay mục đích kinh doanh nào và (iii) không còn các lợi ích hợp pháp nào khác để tiếp tục lưu giữ các dữ liệu cá nhân này.  
        </p>
        <p>
            Chúng tôi liên tục bảo vệ các thông tin thu thập được bằng các hình thức như: mật khẩu, tường lửa, mã hóa, duyệt web an toàn, cùng các hình thức thích hợp khác và chỉ cấp phép việc truy cập và xử lý dữ liệu cho các đối tượng phù hợp. Đồng thời chúng tôi cũng có đội ngũ chuyên gia thường xuyên túc trực để kiểm soát những rủi ro có thể xảy ra với những thông tin thu thập được. Nếu phát hiện thấy điều gì đó có khả năng gây rủi ro mà chúng tôi cho là bạn nên biết, chúng tôi sẽ thông báo cho bạn và hướng dẫn bạn thực hiện các bước để được bảo vệ tốt hơn.  
        </p>
        <p>
            Mật khẩu của bạn được lưu trữ và bảo vệ bằng phương pháp mã hoá trong cơ sở dữ liệu của hệ thống, vì thế nó rất an toàn. Tuy nhiên, chúng tôi khuyên bạn không nên dùng lại mật khẩu này trên các Website khác. Mật khẩu của bạn là cách duy nhất để bạn đăng nhập vào tài khoản thành viên của mình trong Website này, vì thế hãy cất giữ nó cẩn thận. Trong mọi trường hợp bạn không nên cung cấp thông tin mật khẩu cho bất kỳ người nào dù là người của chúng tôi trừ khi bạn hiểu  rõ các rủi ro khi để lộ mật khẩu. Nếu quên mật khẩu, bạn có thể liên lạc với Chúng tôi theo thông tin trên Website để được hướng dẫn cách thức lấy lại mật khẩu. 
        </p>
    </p>

    <p>
        <p><b>Điều 5: Chỉnh sửa và xóa thông tin    </b></p>
        <p>Bạn có quyền tự kiểm tra, cập nhật, điều chỉnh hoặc xóa thông tin của mình bằng cách đăng nhập vào tài khoản và chỉnh sửa thông tin của mình hoặc đề nghị chúng tôi thực hiện việc này. </p>
        <p>Chúng tôi sẽ không chỉnh sửa hoặc xóa các thông tin của bạn, trừ trường hợp thuộc một trong các trường hợp sau: (i) sự đồng ý từ bạn; (ii) hết thời gian lưu trữ; (iii) theo yêu cầu của cơ quan nhà nước có thẩm quyền; (iv) Website ngừng hoạt động hoặc không còn tồn tại; (v) theo quy định pháp luật. </p>
    </p>

    <p>
        <p><b>Điều 6: Thay đổi, cập nhật chính sách bảo mật    </b></p>
        <p>
            Chính sách Bảo mật này có thể thay đổi theo thời gian. Chúng tôi sẽ đăng bất kỳ thay đổi, cập nhật nào đối với Chính sách Bảo mật trên Website này. 
        </p>
    </p>
</div>
